body {
    font-family: arial;
}

#sprite_anchor {
    position: absolute;
}

#map {
    font-size: 10pt;
}

.tile {
    xxdisplay: inline-block;

    width: 80px;
    height: 46px;

    xbox-sizing:border-box;
    x-moz-box-sizing: border-box;
    x-webkit-box-sizing: border-box;

    border: 0px solid silver;
    float: left;
}

.lighttile {
    background: white;
}

.darktile {
    background: #f2f2f2;
}

.lighttilefog {
    background: #767676;
}

.darktilefog {
    background: #707070;
}

.toptile {border-top: 1px solid silver;}
.righttile {border-right: 1px solid silver;}
.lefttile {border-left: 1px solid silver;}
.bottomtile {border-bottom: 1px solid silver;}

.clear {
    clear: both;
}

.p0base {
    border: 1px solid blue;
}

.p1base {
    border: 1px solid orange;
}

.p0color {
    color: blue;
}

.p1color {
    color: orange;
}

.progresspercent {
    font-family: courier;
    font-weight: 200;
}

.progressverticalbar {
    background: silver;
    display: inline-block;
    position: relative;
    width: 100%;
}

.progressverticalcontainer {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 20px;
    border: 1px solid silver;
}

div.sprite {
    position: absolute;
}